# OS
.DS_Store
Thumbs.db
Desktop.ini

# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env
venv/
.venv/

# DATA
data/
*.csv

# MODELS
bert/models/
cnn/models/
*.pth
*.pt
*.zip

# RESULTS
results/
*.json

# ARCHIVE
archive/
